body {
    background-color: #76b852;
    font-family     : 'Roboto', sans-serif;
}

#container {
    display         : inline-block;
    box-sizing      : border-box;
    text-align      : center;
    background-color: white;
    margin          : 200px 0 0 500px;
    padding         : 45px;
    width           : 360px;
    box-shadow      : 5px 5px 20px 1px black;
}

.email,
.password,
.boton {
    height       : 46px;
    margin-bottom: 15px;
    width        : 100%;
}

.email {
    background-color: #f2f2f2;
    border          : 1px solid #f2f2f2;
    box-sizing      : border-box;
    padding-left    : 30px;
}

.password {
    background-color: #f2f2f2;
    border          : 1px solid #f2f2f2;
    box-sizing      : border-box;
    padding-left    : 30px;
}

.boton {
    background-color: #4CAF50;
    border          : 1px solid #4CAF50;
    color           : white;
    padding-left    : 15px;
}

.boton:hover {
    background-color: #255428;
    transition      : background 1s ease;

}

.icono {
    position: absolute;
    left    : 6px;
    top     : 15px;
    color   : grey;

}

.relativo {
    position: relative;

}